*.pyc
/*/*.pyc
/mysite/mysites.db
/mysite/polls/#models.py#
/mysite/polls/.#models.py
/mysite/TAGS
/mysite/polls/mysites.db
/atodo/atodo/settings.py
/atodo/atodo/settings.py~
/atodo/atodo/urls.py~
/atodo/templates/.#status_report.html
/atodo/templates/status_report.html~
/atodo/todo.db
/atodo/todolist/models.py~
/atodo/todolist/urls.py~
/atodo/todolist/views.py~
/mysite/polls/#admin.py#
